.App {
  text-align: center;
}

#page-content {
  padding-top: 3rem;
}

nav {
  font-family: "Inter";
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(26, 26, 26);
  z-index: 1;
}

nav p {
  color: white;
  text-decoration: none;
}

/* ICONS */

.icon {
  height: 30px;
  width: 30px;
}

/* _________ */

/* HOMEPAGE */

#homepage {
  position: relative;
  background-color: black;
}

#homepage h1 {
  text-shadow: 8px 8px rgb(68, 68, 68);
  font-size: 6rem;
  font-family: 'Josefin Sans', "Ubuntu", arial;
  color: white;
}

#homepage div {
  /* border: 2px purple solid; */
  position: absolute;
  top: 20%;
  left: 15%;
}

#homepage p {
  /* border: 1px yellow solid; */

  color: white;
  font-size: 2rem;
  padding: 1rem;
  border: 4px solid white;
  font-family: "PT Sans Narrow";
  width: 100%;
}

#homepage img {
  width: 100%;
}

/* _________ */

#cart-buttons {
  width: 100%;
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#close-icon {
  height: 2rem;
  width: 2rem;
}

#shopping-cart {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;

  z-index: 1;
  overflow-x: hidden;

  background-color: rgb(240, 240, 240);
  transition: 0.5s;
}

.checkout-item {
  /* border: 1px solid; */
  border-top: 1px solid rgb(235, 235, 235);
  border-bottom: 1px solid rgb(243, 243, 243);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.item-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.item-info div {
  display: flex;
  align-items: center;
}

.item-info p {
  text-align: start;
}


.checkout-item img {
  height: 4rem;
  width: 4rem;
  border: 1px rgb(224, 224, 224) solid;
}
.checkout-item p {
  /* border: 1px solid; */
  margin-left: 1rem;
}

.checkout-item input {
  font-size: 1rem;
  max-height: 20px;
  max-width: 2.5rem;
  margin: 0 1rem 0 1rem;
}


/* remove button */
.item-info img {
  margin-left: 0.5rem;
  border: none;
  /* border: 2px green solid; */
  height: 1rem;
  width: 1rem;
}


/* BILL */

#bill {
  margin-top: 1em;

}

#bill div {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
  border-top: 1px solid rgb(243, 243, 243);
  border-bottom: 1px solid rgb(243, 243, 243);
}

#total {
  font-weight: 600;
}

#checkout {
  background-color: rgb(25, 25, 59);
  color: white;
  border: none;

  position: relative;
  /* border: 1px solid; */
  width: 100%;

  margin-top: 2em;
  /* why does checkout button "disappear" from bot if no margin bot? */ 
  /* will it wor with px instead of em? */
  margin-bottom: 3em;

  outline: none;
  padding: 1em;
}

/* SHOP */

#shop input {
  outline: none;
  font-size: 1rem;
  width: 2.5rem;
}

#shop {
  background-color: white;
  position: relative;
  display: grid;
  grid-template: auto / 1fr 4fr;
}

/* SHOP FILTERS */

#shop-filters {
  padding-top: 4rem;
}

#shop-filters .tab {
  display: flex;
  justify-content: center;
}

#shop-filters p {
  margin: 0.2rem 0 0.2rem 0;
  font-size: 1.5rem;
  width: 70%;
  padding: 0.8rem;
  transition: transform 0.1s ease-in;
  font-family: "PT Sans Narrow";
  color: rgb(94, 94, 94);
}

#shop-filters p:hover {
  transform: translate(1em, 0);
  border-left: 3px solid rgb(231, 231, 231);
  
}

#shop-filters p:active {
  color: rgb(156, 156, 156);
}


#catalog {
  display: grid;
  grid-template: auto / 1fr 1fr;
  gap: 2em;
  padding: 50px 2rem 50px 2rem;
}


#shop .price {
  color: rgb(53, 53, 53);
}


/* media query, make cart width bigger at smaller view */

@media only screen and (max-width: 1024px) {
  /* .App {
    border: 3px blue solid;
  } */

  #catalog img {
    max-width: 13rem;
  }
}


@media only screen and (max-width: 768px) {
  /* .App {
    border: 3px green solid;
  } */
  #homepage h1 {
    margin: 0;
  }

  #homepage div{
    top: 50%;
    left: 10%;
  }
  #homepage p {
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 95%;
  }
  
  #catalog {
    grid-template: auto / 1fr;
  }

  #catalog img {
    max-width: 15rem;
  }
  #catalog p {
    font-size: 1.2rem;
  }

  #checkout {
    font-size: 1rem;
  }
}


